services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:release
    ports: ["2283:2283"]
    volumes: ["./uploads:/usr/src/app/upload"]
    environment:
      - DB_HOSTNAME=immich-db
      - DB_USERNAME=postgres
      - DB_PASSWORD={{ immich_db_password }}
      - DB_DATABASE_NAME=immich
      - REDIS_HOSTNAME=immich-redis
    mem_limit: 384m
    restart: unless-stopped
  immich-redis:
    image: redis:alpine
    mem_limit: 128m
    restart: unless-stopped
  immich-db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: {{ immich_db_password }}
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
    volumes: ["./pgdata:/var/lib/postgresql/data"]
    mem_limit: 256m
    restart: unless-stopped
