services:
  pihole:
    image: pihole/pihole:latest
    ports: ["53:53/tcp", "53:53/udp"]
    environment:
      - DNS1=127.0.0.1#5053
      - TZ=Europe/Paris
    volumes: ["./pihole:/etc/pihole", "./dnsmasq:/etc/dnsmasq.d"]
    mem_limit: 128m
    restart: unless-stopped
  unbound:
    image: mvance/unbound:latest
    ports: ["5053:53/tcp", "5053:53/udp"]
    mem_limit: 64m
    restart: unless-stopped
