[defaults]
# Utilise inventory.ini par défaut
inventory = inventory.ini

# Désactive la vérification de la clé SSH au premier connection
host_key_checking = False

# Rend la sortie console plus jolie (nouvelle syntaxe)
stdout_callback = default
callback_result_format = yaml

# Active le cache des "facts" pour accélérer les lancers suivants
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout = 86400

# Utilise le fichier de mot de passe vault par défaut
vault_password_file = ~/.vault_pass.txt

# Désactive les fichiers de retry qui polluent le dossier
retry_files_enabled = False

# Cache les avertissements de dépréciation (comme celui pour apt_repository)
deprecation_warnings = False
